$icon-dimensions: 65px;

.bgpicker-wrap {
	.umb-overlay.umb-overlay-right,
	.umb-overlay.umb-overlay-right[style],
	[data-element="overlay"] {
		width: auto !important;
		width: 500px !important;

		@media screen and (max-width: 507px) {
			width: 100% !important;
		}
	}
}

.bgpicker-dialog {
	&__icon-list {
		list-style: none;
		padding: 0;
		margin: 0;
		margin-top: 20px;
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(6, 1fr);

		li {
			display: block;
			height: $icon-dimensions;

			a {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				font-size: 28px !important;
				background: color(gray);
				color: #000;
				transition: all .4s ease-in-out;
				width: 100%;
				height: 100%;

				&:hover {
					text-decoration: none;
					background: color(primary);
					color: #fff;
				}
			}
		}
	}
}
